body { font-family: Arial, Helvetica, sans-serif; margin: 0px;}
h1 {margin: 0px;}
body > header {background-color: orange; 
display: flex;
 align-items: center;
 justify-content: space-around;
color: white;}

 
#nav-ul{ display: flex;}
#nav-ul > li{ padding: 8px;
     margin: 16px;}

body> header> nav> ul{list-style: none; text-decoration: none;}

.navbutton {color: white; text-decoration: none;
padding: 12px;}

body> main article { width: 70%; margin:auto }

#main-content {display: flex;}

#main-content aside { 
     width: 20%;
}

form {text-align: center;}
h2{ text-align: center;}
body > footer {background-color: orange;} 
img{ border-radius: 50%;}
